@{
    ViewData["Title"] = "Home Page";
}

<div class='contain'>
    <div class="text-center">
        <h1 class="display-4">MLB Prospects and Rookies</h1>
    </div>

    <div class='sInput iGrid'>
        <input type='button' id='addPlayer' value='Add New Player' onclick="doCollectPlayerData()" />
        <input type='button' id='backUp' value='Back Up Data' onclick="doBackUp()" />
    </div>
    <div class='playerTbl'>
    </div>
    <div class='dbGrid'>

    </div>
</div>

