html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.playerTbl {
    border-collapse: collapse;
    margin-left: 10%;
    max-width: 90%;
    min-width: 80%;
    margin-top: 5%;
}

th, td {
    padding: 5px 10px;
    text-align: center;
    white-space: nowrap;
}

th {
    border-top: 2px #35478C solid;
    border-bottom: 2px #35478C solid;
}

tr {
    border-bottom: 1px #35478C solid;
}

tr:nth-child(odd) {
    border-bottom: 1px #35478C solid;
        /*background-color: #FFEDD2;*/
    }
select{
    margin-left:5%;
}

input#addPlayer {
    width: 140px;
    height: 35px;
    margin-left:8%;
    border-radius: 5%;
    background-color: #35478C;
    color: #FFFFFF;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-variant: small-caps;
    cursor: pointer;
}

.iGrid{
    margin-left:12%;
    display:grid;
    grid-template-columns:20% 20% 20%;
    grid-gap:7%;
}